/* CSS Rules
selector {
	property :  value;
} */

/* Universal selector */

* {
	/* monospace acts like an alternate font for Courier New */
	font-family: "Courier New1", monospace;
	font-size: 20px;
}

body {
	background-color :  skyblue;
}

html {
	scroll-behavior: smooth;
}

/* navigation bar */
nav {
	background-color :  white;
}
/* selector : hover psuedo class */
/* changes the when hovered over */
a:hover {
	color : #b4d6de;
}

div {
	display :  inline-block;
	float :  right;
}

h1 {
	color :  orange !important;
	/* The !important property has the highest priority, using this will highly prioitize the styling  */
	text-align :  center;
	font-size: 2rem;
}

/* landing section */
section {
	height: 100vh;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
}

/* id selector */
/* #id-name */

#zuitt-motto {
	letter-spacing:  5px;
	/* the letter spacing property changes the spaces between characters of a text */
}

h3 {
	letter-spacing: 25px;
}

/* Adjacent sibling selector */
/* selectyor + selector */

h3 + img {
	height :  300px;
	width :  300px;
	border-radius :  150px;
}

/* #zuitt-motto + img {
	height :  300px;
	width :  300px;
	border-radius :  50px;
} */

	/* The selectors used for combinbator selectors aren't limited/restricted to type selectors only, Id, class, Attribute and universal selectors may also be used.*/
	/* The height, changes the vertical dimensions of the element */
	/* The width, changes the horizontal dimensions of the element */
	/* The border-radius, changes the corners of the element from sharp to rounded corners*/

ol {
	list-style-type:  none;
}

/* Class Selector */
/* .class-name */

.offering-item {
	text-transform:  uppercase;
	/* the text-transform property changes font to a certain case, the value uppercase changes the case of the text to capital letters */
}

/* Descendant selector */
/* selector selectro */

#bootcamp-learning-list li{
	color :  #070966;
}

/* The color property and similar properties that change color can also accept hex values. Hexadecimal value is consist of (#) sign in combination with 6 alphanumeric characters */

/* General Sibling Selector */
/* selector ~ selector*/

h2 ~ a {
	text-decoration : none;
}

	/* The text-decoration, is a property that changes lines included in text (e.g. overline, underline and strike-through) */
	/* The value-none, will remove the underline from links */

/* Child Selector */
/* selector > selector */

body > section > form > label {
	color : rgb(237,17,35);
}
 
	/* The child selector may include more than two selectors, and the last tag/element is ewghhere the changes will happen */

/* Attribute selector */
/* tagname[attribute] */

input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width:  90%;
}

/* registered section */

form {
	text-align:  center;
	background-color: white;
	height: 185px;
	width: 25vw;
	border:  2px solid black;
	position:  relative;
	left:  37.25%;
}

button {
	background-color: #cf0053;
	color:  white;
	border:  0;
	border-radius:  15px;
}