* {
	font-family: open-sans;
}

body {
	margin: 0px 0px 0px 0px;
}

ul {
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 10px 9vw;
}

nav {
	position: sticky;
	top: 0px;
	background-color: rgb(255, 255, 255)
}

.nav-logo {
	display: inline;
}

.nav {
	display: inline;
	margin-right: 1.5vw;
}

.right-nav {
	margin: 0px 8vw 0px 0px;
	float: right;
}

.tuitt-button {
	background-color: #C2195B;
	border-radius: 150px;
	padding: 8px 15px 8px 15px;
	color: white;
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center center;
}

.front-bg {
	background-color: rgba(0, 0, 0, 0.4);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.title {
	display: block;
	font-family: Zilla Slab;
	float: right;
	color: white;
	padding-right: 10vw;
	width: 60%;
	font-size: 2.5em;
	text-align: right;
	margin: 0 0 0 0;
}

.subtitle {
	display: block;
	font-family: Zilla Slab;
	float: right;
	padding-right: 10vw;
	color: white;
	text-align: right;
	font-size: 1em;
	width: 23%;
}

.apply-button {
	background-color: #C2195B;
	border-radius: 35px;
	padding: 8px 35px 8px 35px;
	margin : 0px 10vw 35px 0px;
	color: white;
}

.title-2 {
	text-align: center;
	font-family: Zilla Slab;
	margin: 50px 0px 50px 0px;
}

.intro-description {
	margin: 0px 15% 5% 15%;
}

.pre-footer {
	text-align: center;
	background-color: #F7FBFB;
	padding: 5% 10% 10% 10%;
}

.pre-footer .title-2 {
	margin: 0px 0px 0px 0px;
	text-align: center;
}

.prefooter-description {
	margin: 4% 5% 1% 5%;
	font-size: 0.8em;
}

.book-button {
	text-align: center;
	background-color: #336589;
	border-radius: 35px;
	padding: 8px 35px 8px 35px;
	margin : 0px 0px 0px 0px;
	color: white;
}

footer {
	text-align: center;
	margin-bottom: 1vh;
}