* {
	font-family: sans-serif;
	font-size: 16px;
}

body{
	margin:2%;
}

h1 {
	font-size: 30px;
}

#uppercase {
	text-transform:  uppercase;
}

[class = "tools"] {
	border-width: 2px;
	border-style: solid;
	border-color: #97A2D8;
}

.external {
	color: #FFEB2F;
}

.languages {
	background-color: #A4BA8B;
}

.ending img {
	height : 90px;
	width : 90px;
	border-radius: 100px;
}

section>ul {
	letter-spacing: 5px;
	list-style-type:  none;
}

img~p {
	text-align: center;
}	